services:
  shape-ui:
    build: .
    command:
      - python3
      - gradio_app.py
      - --host
      - 0.0.0.0
      - --port
      - "8080"
      - --texture_api_url
      - http://texture-ui:8081/generate
      - --shape_device
      - cuda:0
      - --cache-path
      - /data/output
    environment:
      - NVIDIA_VISIBLE_DEVICES=GPU-57d2a2a2-c2f7-0ef7-af66-69352185b370 # YOUR 1st GPU UUID
      - HF_HOME=/data/cache/hf
    volumes:
      - ./output:/data/output
      - ./cache:/data/cache
    ports:
      - "8088:8080"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids:
                - "GPU-57d2a2a2-c2f7-0ef7-af66-69352185b370" # YOUR 1st GPU UUID
              capabilities: [gpu]

  texture-ui:
    build: .
    command:
      - python3
      - api_server.py
      - --host
      - 0.0.0.0
      - --port
      - "8081"
      - --texture_device
      - cuda:1
      - --enable_tex
      - --disable_shape
      - --tex_model_path
      - tencent/Hunyuan3D-2
      - --cache-path
      - /data/output_textured
    environment:
      - NVIDIA_VISIBLE_DEVICES=GPU-14c38418-9d0f-55fb-78ed-68e87703da1e # YOUR 2nd GPU UUID
      - HF_HOME=/data/cache/hf
    volumes:
      - ./output:/data/output
      - ./output_textured:/data/output_textured
      - ./cache:/data/cache
    ports:
      - "8089:8081"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids:
                - "GPU-14c38418-9d0f-55fb-78ed-68e87703da1e" # YOUR 2nd GPU UUID
              capabilities: [gpu]
