ninja
pybind11

diffusers==0.29.2
einops
opencv-python
numpy
torch
transformers[sentencepiece]==4.39.3
tokenizers
torchvision
#taming-transformers-rom1504
#ConfigArgParse
#ipdb
omegaconf

sentencepiece
tqdm

# Mesh Processing
trimesh
pymeshlab
pygltflib
xatlas
#kornia
#facexlib

# Training
accelerate
#pytorch_lightning
#scikit-learn
#scikit-image

# Demo only
gradio
fastapi
uvicorn
rembg
onnxruntime
#gevent
#geventhttpclient